#loading-spinner {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../../../assets/spinner.svg') 50% 50% no-repeat;
  background-color: rgba(250, 250, 250, 0.5);
}
