<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let col of columnNames" class="{{col | lowercase}}-thead">
          {{col | spaceBeforeUpperCaseMidString}}
        </th>
      </tr>
    </thead>
    <tr *ngFor="let item of dataSource">
      <td *ngFor="let col of columnNames" class="{{col | lowercase}}">
        {{item[col]}}
      </td>
    </tr>
  </table>
</div>
