@import '../../assets/_style-variables.scss';

.new-customer-btn{
  float: right;
}

::ng-deep{
  & .balance,
  & .balance-thead {
    text-align: end;
  }
  & .accountname{
    font-weight: $font-weight-500;
  }
}
