<div class="container p-0">
  <div class="row pt-5 pb-4 justify-content-between">
    <div class="col-6">
      <app-search [settings]="searchOptions" (searchTerm)="updateSearch($event)"></app-search>
    </div>
    <div class="col-3 align-self-end">
      <button class="btn btn-primary ml-auto new-customer-btn">Create new customer</button>
    </div>
  </div>
  <div class="row">
    <app-spinner *ngIf="showSpinner"></app-spinner>
    <app-data-table [columns]="tableColumns" [dataSource]="sanitizedAccountResults" class="container p-0"></app-data-table>
  </div>
</div>
