//Colors
/////////////////
// Solid
$black: #000000;
$white: #FFFFFF;
$pebble: #5C686D;
$sand: #FEDF3B;
$wave:#3EA7DD;
$spray: #63F2CB;
$sun: #F5B146;
$tide: #8ACBEB;
$wash: #9FF7DF;

//Shades
$pebble-50: lighten($pebble, 50%);
$pebble-75: lighten($pebble, 25%);


// Overrides
$theme-colors: (
  "primary": $wave,
);
$border-radius: 0.15em !default;

//Typography
////////////////
// Text
$font-weight-300: 300;
$font-weight-500: 500;
$font-weight-800: 800;
