<header>
  <div class="container logo-wrapper">
    <div class="row">
      <img src="../../assets/logo.svg" id="logo" alt="Modulr" title="Modulr">
    </div>
  </div>
  <div class="row nav-wrapper">
    <nav class="container navbar pl-0 pt-2 pb-2">
      <div class="navbar-nav">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-item nav-link mr-4">Dashboard</a>
        <a routerLinkActive="active" class="nav-item nav-link mr-4 pl-2 pr-2">Reports</a>
        <a routerLinkActive="active" class="nav-item nav-link mr-4 pl-2 pr-2">Admin</a>
      </div>
    </nav>
  </div>
</header>
