@import "../../assets/_style-variables.scss";

.logo-wrapper {
  background: url("../../assets/bg-blocks.svg") no-repeat;
  background-position: right;
  background-size: contain;
}

#logo {
  width: 10em;
}

.nav-wrapper {
  background: $pebble;
}

nav{
  a{
    color: $white;
    border-bottom: 0.1em transparent solid;
    transition: border-width 0.1s ease-in;
    &:hover{
      color: $white;
      text-decoration: none;
      padding-bottom: 0.45em;
      border-bottom: 0.25em $spray solid;
      cursor: pointer;
    }
  }
  .active{
    padding-bottom: 0.45em;
    border-bottom: 0.25em $spray solid;
  }
}
