<form [formGroup]="searchForm">
  <label>{{settings.searchFieldLabel}}</label>
  <div class="input-group">
    <input formControlName="searchfield" [placeholder]="settings.placeHolder" class="form-control pl-2 pr-2" />
    <div class="input-group-append"><button class="btn btn-primary pl-4 pr-4" (click)="triggerSearch()" type="button">Go</button></div>
  </div>
</form>
